#calc{
	text-align: center;
}
#td{
	border: 2px solid black;
	margin-left: 20px;
	margin-top: 50px;
	background-color: pink;
	border-radius: 15px;
}
.button{
	font-size: 40px;
	padding: 12px;

}
#text{
	padding-left: 20px;
	padding-right: 20px;
}
#plus{
	padding-left: 17px;
	padding-right: 17px;
}
#minus{
	padding-left: 22px;
	padding-right: 22px;

}
#divide{
	padding-left: 23.2px;
	padding-right: 23.2px;
}
#equals{
	padding-right: 17px;
	padding-left: 17px;
}
#point{
	padding-right: 25.5px;
	padding-left: 25.5px;
}
#open{
	padding-left: 23.5px;
	padding-right: 23.5px;
}
#close{
	padding-left: 23.5px;
	padding-right: 23.5px;
}
#srch{
width: 300px;
margin-left: 4.5px;
margin-right: 4.5px;
height: 40px;
font-size: 25px;
}
#C{
	padding-left: 17px;
	padding-right: 17px;
}
#star{
	padding-right: 21px;
	padding-left: 21px;
}
#h3{
	font-size: 30px;
	margin-right: 1000px;
	color: darkgoldenrod;
}